.new-btn {
    border-radius: 10px;
    background-color: #2a514c;
    color: white;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100%;
    font-size: 19px;
    text-align: center;
}

.desc-box {
    border-radius: 10px;
    background-color: white;
    color: rgb(55, 53, 47);
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100%;
    font-size: 17px;
    text-align: center;
}

.card-title {
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
}

.p-0-important {
    padding: 0 !important;
}

.arrow-btn {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    background-image: url(./src/asset/next.svg);
    background-position: 50%;
    background-size: cover;
    float: right;
    height: 40px;
    margin-left: 8px;
    margin-top: 0;
    padding: 20px;
    -webkit-user-select: none;
    user-select: none;
    width: 40px;
    right: -5px;
}

.add-icon-btn {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    background-color: initial;
    background-image: url(./src/asset/addicon.svg);
    background-position: 50%;
    background-size: cover;
    border: none;
    float: right;
    height: 30px;
    margin-right: 10px;
    -webkit-user-select: none;
    user-select: none;
    width: 30px;
    margin: 0px !important;
    left: -5px;
}

.chatbot-msg {
    background-color: #f4f2eb;
    height: auto;
    border-radius: 10px 10px 10px 0;
}

.human-msg {
    background-color: #f1f1f3;
    height: auto;
    border-radius: 10px 10px 0 10px;   
}