.header-wrapper {
    color: #37352F;
    font-family: 'Inter, Inter-fallback, Helvetica, Apple Color Emoji, Segoe UI Emoji, NotoColorEmoji, Noto Color Emoji,Segoe UI Symbol, Android Emoji, EmojiSymbols, -apple-system,BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Noto Sans,sans-serif';
}
.btn-try {
    color:blueviolet;
}